.btn {
    height: 35px;
    cursor: pointer;
}

.btn_green {
    border: 1px solid green;
    background-color: aquamarine;
}

.btn_red {
    border-color: red;
    background-color: lightcoral;
}

.btn_default {
    border-color: black;
    background-color: white;
}