.box {
    width: 40px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: cyan;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.amount {
    position: absolute;
    cursor: pointer;
}