.message {
  width: 200px;
  height: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.message p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.success {
  border: 1px solid green;
  background-color: aquamarine;
}

.error {
  border: 1px solid red;
  background-color: lightcoral;
}

.remove {
  display: none;
}